
li[data-v-41b15004] {
    list-style: none;
}
ul[data-v-41b15004] {
    padding: 0;
}
#homeRecommendPlaylist[data-v-41b15004] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
.home-sub-title[data-v-41b15004] {
    margin:1rem;
    font-size: 1.5rem;
    font-weight: 500;
}
