
span {
    margin: 0;
}
.header {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    margin-left: 2rem;
    display: flex;
}
.header-user {
    margin-right: 2rem;
    cursor: pointer;
}

.header-title[data-v-8a047884] {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
}

[data-v-fd8aef6b] {
    box-sizing: border-box;
    margin: 0;
}
.marquee-sizer[data-v-fd8aef6b] {
    --marquee-duration: 5s;

    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}
.marquee-outer[data-v-fd8aef6b] {
    display: inline-block;
}
.marquee-container[data-v-fd8aef6b] {
    display: inline-block;
    height: 100%;
    position: relative;
    animation: marquee-fd8aef6b var(--marquee-duration) linear infinite;
}
.marquee-content[data-v-fd8aef6b] {
    display: inline-block;
}
.marquee-text2[data-v-fd8aef6b] {
    margin-left: 2.5em;
    margin-right: 2.5em;
}
.marquee-static-text[data-v-fd8aef6b] {
    display: inline-block;
}
@keyframes marquee-fd8aef6b {
0% {
        transform: translateX(0%);
}
100% {
        transform: translateX(-50%);
}
}

[data-v-6071966b] {
    box-sizing: border-box;
}
.ctrl-outer[data-v-6071966b] {
    width: 100%;
    height: 7rem;
    border: 1px solid grey;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.ctrl-left[data-v-6071966b] {
    display: flex;
    width: calc(100% / 3.5);
    cursor: pointer;
}
.ctrl-img-box[data-v-6071966b] {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem grey;
    width: 5rem;
    /* 宽度等于父元素宽度 */
    height: 0;
    /* 初始高度为0 */
    padding-bottom: 5rem;
    /* 高度被撑开为宽度的100% */
    overflow: hidden;
    /* 隐藏溢出部分 */
}
.ctrl-img[data-v-6071966b] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctrl-info-box[data-v-6071966b] {
    padding-left: 1rem;
    width: 70%;
}
.ctrl-info-title[data-v-6071966b] {
    font-size: 1.3rem;
}

/* 
center--------------------------------------------------------
 */
.ctrl-center[data-v-6071966b] {
    width: calc(100% / 3.5);
}
.button[data-v-6071966b] {
    cursor: pointer;
}
.btn-control[data-v-6071966b] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-play-control[data-v-6071966b] {
    /* 上一曲 暂停 下一曲 按钮 */
    display: flex;
}

/* 
right---------------------------------------------------------
*/
.ctrl-right[data-v-6071966b] {
    width: calc(100% / 3.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-main[data-v-b73e9aeb] {
  display: flex;
}
.container-nav[data-v-b73e9aeb] {
  flex: 0 0 auto;
  width: 12rem;
}
.container-content[data-v-b73e9aeb] {
  flex: 1;
  height: calc(var(--vh, 1vh) * 100 - 7rem);
  display: flex;
  flex-direction: column;
}
.container-router-view[data-v-b73e9aeb] {
  overflow-y: scroll;
  flex: 1;
}
