
.nav-outer[data-v-1f54f60f] {
    width: 100%;
    height: 100%;
}
.header-title[data-v-1f54f60f] {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    padding: 1rem;
}

span {
    margin: 0;
}
.header {
    padding: 0.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    margin-left: 2rem;
    display: flex;
}
.header-user {
    margin-right: 2rem;
    cursor: pointer;
}
.header-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 10;
}
@media screen and (min-width: 600px) {
.header-menu {
        display: none;
}
}
@media screen and (max-width: 600px) {
.header-user {
        margin-right: 0;
}
.header-search {
        margin-left: 0;
}
}

.playinglist[data-v-3e35b0e3] {
    height: 100%;
    width: 100%;
}
ul[data-v-3e35b0e3] {
    list-style: none;
    padding: 0;
}
.playinglist-item[data-v-3e35b0e3] {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px var(--3f54324a);
    display: flex;
    background-color: var(--e178de24);
}
.playinglist-img[data-v-3e35b0e3] {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem var(--3f54324a);
    margin-right: 0.5rem;
}
.text[data-v-3e35b0e3] {
    width: calc(100% - 3rem)
}
.name[data-v-3e35b0e3],
.tns[data-v-3e35b0e3],
.artist[data-v-3e35b0e3] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

[data-v-8624c694] {
  box-sizing: border-box;
}
.player-outer[data-v-8624c694] {

  position: absolute;
  z-index: 10;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;


  display: flex;

  /* 配合下面content的最大宽度 实现居中 */
  justify-content: center;
  /* 背景渐变 */
  background-image: var(--23c3be72);
}
.player-content[data-v-8624c694] {
  display: flex;
  height: 100%;
  min-width: 400px;
  width: 100%;
  max-width: calc(100vh/9*16);
}
.player-background[data-v-8624c694] {
  /* 半透明遮罩 */
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--5a2c37de);
}

/************************歌词部分**********************************************************************/
.lyric-item[data-v-8624c694] {
  transform: scale(0.95);
}
.lyric-lrc[data-v-8624c694] {
  /* 歌词原文 */
  color: rgba(68, 68, 68, 0.8);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.lyric-roma[data-v-8624c694] {
  /* 歌词罗马音 */
  color: rgba(87, 87, 87, 0.8);
  font-size: 1.2rem;
}
.lyric-tran[data-v-8624c694] {
  /* 歌词翻译 */
  color: rgba(87, 87, 87, 0.8);
  font-size: 1.4rem;
}
.lyric-active[data-v-8624c694] {
  /* 当前歌词 */
  font-weight: 500;
  transform: scale(1);
}
.lyric-active .lyric-roma[data-v-8624c694] {
  /* 当前歌词罗马音 */
  color: rgb(50, 50, 50);
  /* font-size: 1.3rem; */
}
.lyric-active .lyric-tran[data-v-8624c694] {
  /* 当前歌词翻译 */
  color: rgb(45, 45, 45);
  /* font-size: 1.5rem; */
}
.column-lyric[data-v-8624c694] {
  position: relative;
  display: flex;
  flex: 50%;
  height: 100%;
  padding: 2rem;
}
.container-lyric[data-v-8624c694] {
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
}
.lyric-list[data-v-8624c694] {
  padding-top: 50%;
  padding-bottom: 50%;
}

/********************************播放控件**********************************************************/
.column-player[data-v-8624c694] {
  display: flex;
  flex: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  position: relative;
}
.music-name[data-v-8624c694] {
  font-size: 2rem;
}
.button[data-v-8624c694] {
  cursor: pointer;
}
.player-ctrl-top[data-v-8624c694] {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.btn-like[data-v-8624c694],
.btn-comment[data-v-8624c694] {
  margin-left: 0.5rem;
}
.btn-control[data-v-8624c694] {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-play-control[data-v-8624c694] {
  /* 上一曲 暂停 下一曲 按钮 */
  display: flex;
}
.container-player[data-v-8624c694] {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.player-centerblock[data-v-8624c694] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-img-container[data-v-8624c694] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 1rem;
  width: 80%;
  /* 宽度等于父元素宽度 */
  height: 0;
  /* 初始高度为0 */
  padding-bottom: 80%;
  /* 高度被撑开为宽度的100% */
  overflow: hidden;
  /* 隐藏溢出部分 */
}
.music-img[data-v-8624c694] {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.music-progress[data-v-8624c694] {
  width: 100%;
}
.player-ctrl[data-v-8624c694] {
  width: 90%;
}
ul[data-v-8624c694] {
  list-style: none;
  padding: 0;
}
.player-playinglist-box[data-v-8624c694] {
  position: fixed;
  left: 0;
  top: 100%;
  transform: translateY(var(--11b80073));
  height: 100%;
  width: 100%;
  background: none;
  z-index: 11;
  transition: all 0.7s ease-in-out;
}
.player-playinglist[data-v-8624c694] {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 80%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  border-radius: 0.8rem;
  overflow: hidden;
}
@media (max-width: 500px) {

  /* 0-500px 竖屏设备 */
.column-lyric[data-v-8624c694] {
    display: var(--cb6ca54a);
    transition: all 0.7s ease-in-out;
}
.column-player[data-v-8624c694] {
    display: var(--a6d73d8e);
    transition: all 0.7s ease-in-out;
}
.container-player[data-v-8624c694] {
    height: calc(100% - 3rem);
    transform: translateY(3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.player-centerblock[data-v-8624c694] {
    flex: 1;
    justify-content: space-around;
}
.player-ctrl-top[data-v-8624c694] {
    margin-top: 0;
}
}

[data-v-5e1b3a7f] {
    box-sizing: border-box;
}
.ctrl-outer-outer[data-v-5e1b3a7f] {
    position: relative;
}
.ctrl-outer[data-v-5e1b3a7f] {
    position: fixed;
    z-index: 1;
    top: calc(var(--vh, 1vh) * 100 - var(--ed4b1792));
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    /* border: 1px solid grey; */
    box-shadow: 0 0 0.2rem grey;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);
    /* transition: all 0.5s ease-in-out; */
}
.ctrl-box[data-v-5e1b3a7f] {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}
.ctrl-left[data-v-5e1b3a7f] {
    flex: 1;
    display: flex;
    max-width: calc(100% / 3.5);
    cursor: pointer;
}
.ctrl-img-box[data-v-5e1b3a7f] {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem grey;
    width: 5rem;
    /* 宽度等于父元素宽度 */
    height: 0;
    /* 初始高度为0 */
    padding-bottom: 5rem;
    /* 高度被撑开为宽度的100% */
    overflow: hidden;
    /* 隐藏溢出部分 */
}
.ctrl-img[data-v-5e1b3a7f] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctrl-info-box[data-v-5e1b3a7f] {
    padding-left: 1rem;
    width: 70%;
}
.ctrl-info-title[data-v-5e1b3a7f] {
    font-size: 1.3rem;
}

/* 
center--------------------------------------------------------
 */
.ctrl-center[data-v-5e1b3a7f] {
    flex: 1;
    padding-top: 0.8rem;
    max-width: calc(100% / 3.5);
}
.button[data-v-5e1b3a7f] {
    cursor: pointer;
}
.btn-control[data-v-5e1b3a7f] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-play-control[data-v-5e1b3a7f] {
    /* 上一曲 暂停 下一曲 按钮 */
    display: flex;
}

/* 
right---------------------------------------------------------
*/
.ctrl-right[data-v-5e1b3a7f] {
    flex: 1;
    max-width: calc(100% / 3.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-desktop-lyric[data-v-5e1b3a7f],
.btn-sound[data-v-5e1b3a7f] {
    margin-right: 1rem;
}
.btn-desktop-lyric[data-v-5e1b3a7f] {
    font-weight: 400;
    font-size: 1.2rem;
    vertical-align: text-top;
    padding-bottom: 0.35rem;
    transition: all 0.2s linear;
}
.btn-desktop-lyric-active[data-v-5e1b3a7f] {
    font-weight: 800 !important;
}

/*************************************************************
播放列表-------------------------------------------------------------------===================
************************************************/
.ctrl-playinglist[data-v-5e1b3a7f] {
    margin-top: 1rem;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - var(--ed4b1792));
    flex: 1;
}

/* ***************************************************************
播放器-------------------------------------------------------------------===================
*****************************************************************/
.ctrl-player[data-v-5e1b3a7f] {
    position: fixed;
    top: calc(var(--vh, 1vh) * 100);
    left: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;

    z-index: 10;
}
@media screen and (max-width: 600px) {
.ctrl-info-box[data-v-5e1b3a7f] {
        display: none;
}
.btn-like[data-v-5e1b3a7f],
    .btn-loop[data-v-5e1b3a7f] {
        display: none;
}
}

.container[data-v-8419d038] {
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  max-width: calc(var(--vw, 1vw) * 100);
  overflow: hidden;
}
.container-main[data-v-8419d038] {
  display: flex;
  height: calc(var(--vh, 1vh) * 100 - 7rem);
}
.container-nav[data-v-8419d038] {
  flex: 0 0 auto;
  width: 12rem;
}
.container-content[data-v-8419d038] {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container-router-view[data-v-8419d038] {
  max-width: 100%;
  overflow-y: scroll;
  flex: 1;
}
@media screen and (min-width: 600px) {
.container-content[data-v-8419d038]{
  max-width: calc(var(--vw, 1vw) * 100 - 12rem);
}
}
@media screen and (max-width: 600px) {
.container-content[data-v-8419d038]{
  max-width: calc(var(--vw, 1vw) * 100);
}
.container-nav[data-v-8419d038]{
    display: none;
}
}

.app,
.bg {
  background-color: var(--0413e8cd);
}
.icon,
.n-icon {
  color: var(--0413e9c5);
}
.text1 {
  color: var(--0413e9e4);
}
.text2 {
  color: var(--0413e9a6);
}
.text3 {
  color: var(--0413e987);
}


/* 主题色 */
.color0 {
  color: var(--0413e8cd);
}
.color1 {
  color: var(--0413e8ec);
}
.color2 {
  color: var(--0413e90b);
}
.color3 {
  color: var(--0413e92a);
}
.color4 {
  color: var(--0413e949);
}
.color5 {
  color: var(--0413e968);
}
.color6 {
  color: var(--0413e987);
}
.color7 {
  color: var(--0413e9a6);
}
.color8 {
  color: var(--0413e9c5);
}
.color9 {
  color: var(--0413e9e4);
}
 *,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}.container{width:100%;}@media (min-width: 640px){.container{max-width:640px;}}@media (min-width: 768px){.container{max-width:768px;}}@media (min-width: 1024px){.container{max-width:1024px;}}@media (min-width: 1280px){.container{max-width:1280px;}}@media (min-width: 1536px){.container{max-width:1536px;}}.absolute,[absolute=""]{position:absolute;}.fixed,[fixed=""]{position:fixed;}.relative,[relative=""]{position:relative;}[line-clamp~="\32 "]{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-clamp:2;}[line-clamp~="\33 "]{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;line-clamp:3;}.grid{display:grid;}.block{display:block;}.inline-block{display:inline-block;}.hidden,[hidden=""]{display:none;}[size~="\31 \.2rem"]{width:1.2rem;height:1.2rem;}[size~="\31 \.3rem"]{width:1.3rem;height:1.3rem;}[size~="\31 \.5rem"]{width:1.5rem;height:1.5rem;}[size~="\31 1rem"]{width:11rem;height:11rem;}[size~="\32 \.5rem"]{width:2.5rem;height:2.5rem;}[size~="\32 00"]{width:50rem;height:50rem;}[size~="\32 rem"]{width:2rem;height:2rem;}[size~="\34 rem"]{width:4rem;height:4rem;}.max-h-300px{max-height:300px;}.flex,[flex=""]{display:flex;}.flex-wrap{flex-wrap:wrap;}.transform-origin-left-top{transform-origin:left top;}.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.resize{resize:both;}.overflow-y-auto{overflow-y:auto;}.border{border-width:1px;}.px,[px=""]{padding-left:1rem;padding-right:1rem;}.text-shadow{--un-text-shadow:0 0 1px var(--un-text-shadow-color, rgb(0 0 0 / 0.2)),0 0 1px var(--un-text-shadow-color, rgb(1 0 5 / 0.1));text-shadow:var(--un-text-shadow);}[blur=""]{--un-blur:blur(8px);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}.backdrop-filter{-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.transition-color{transition-property:color;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.transition-transform{transition-property:transform;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.duration-700{transition-duration:700ms;}.ease-in-out,[ease-in-out=""]{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}.ease-out{transition-timing-function:cubic-bezier(0, 0, 0.2, 1);} 