
.nav-outer[data-v-1f54f60f] {
    width: 100%;
    height: 100%;
}
.header-title[data-v-1f54f60f] {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    padding: 1rem;
}

span {
    margin: 0;
}
.header {
    padding: 0.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    margin-left: 2rem;
    display: flex;
}
.header-user {
    margin-right: 2rem;
    cursor: pointer;
}
.header-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 10;
}
@media screen and (min-width: 600px) {
.header-menu {
        display: none;
}
}
@media screen and (max-width: 600px) {
.header-user {
        margin-right: 0;
}
.header-search {
        margin-left: 0;
}
}

.playinglist[data-v-985db90b] {
    height: 100%;
    width: 100%;
}
ul[data-v-985db90b] {
    list-style: none;
    padding: 0;
}
.playinglist-item[data-v-985db90b] {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px var(--1310ddb4);
    display: flex;
    background-color: var(--7c02f072);
}
.playinglist-img[data-v-985db90b] {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem var(--1310ddb4);
    margin-right: 0.5rem;
}
.text[data-v-985db90b] {
    width: calc(100% - 3rem)
}
.name[data-v-985db90b],
.tns[data-v-985db90b],
.artist[data-v-985db90b] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

[data-v-b935210c] {
    box-sizing: border-box;
}
.ctrl-outer[data-v-b935210c] {
    position: fixed;
    z-index: 1;
    top: calc(var(--vh, 1vh) * 100 - var(--6fec3d24));
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    /* border: 1px solid grey; */
    box-shadow: 0 0 0.2rem grey;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);
    /* transition: all 0.5s ease-in-out; */
}
.ctrl-box[data-v-b935210c] {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}
.ctrl-left[data-v-b935210c] {
    flex: 1;
    display: flex;
    max-width: calc(100% / 3.5);
    cursor: pointer;
}
.ctrl-img-box[data-v-b935210c] {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem grey;
    width: 5rem;
    /* 宽度等于父元素宽度 */
    height: 0;
    /* 初始高度为0 */
    padding-bottom: 5rem;
    /* 高度被撑开为宽度的100% */
    overflow: hidden;
    /* 隐藏溢出部分 */
}
.ctrl-img[data-v-b935210c] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctrl-info-box[data-v-b935210c] {
    padding-left: 1rem;
    width: 70%;
}
.ctrl-info-title[data-v-b935210c] {
    font-size: 1.3rem;
}

/* 
center--------------------------------------------------------
 */
.ctrl-center[data-v-b935210c] {
    flex: 1;
    padding-top: 0.8rem;
    max-width: calc(100% / 3.5);
}
.button[data-v-b935210c] {
    cursor: pointer;
}
.btn-control[data-v-b935210c] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-play-control[data-v-b935210c] {
    /* 上一曲 暂停 下一曲 按钮 */
    display: flex;
}

/* 
right---------------------------------------------------------
*/
.ctrl-right[data-v-b935210c] {
    flex: 1;
    max-width: calc(100% / 3.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*************************************************************
播放列表-------------------------------------------------------------------===================
************************************************/
.ctrl-playinglist[data-v-b935210c] {
    margin-top: 1rem;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - var(--6fec3d24));
    flex: 1;
}
@media screen and (max-width: 600px) {
.ctrl-info-box[data-v-b935210c] {
        display: none;
}
.btn-like[data-v-b935210c],
    .btn-loop[data-v-b935210c] {
        display: none;
}
}

.container[data-v-8419d038] {
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  max-width: calc(var(--vw, 1vw) * 100);
  overflow: hidden;
}
.container-main[data-v-8419d038] {
  display: flex;
  height: calc(var(--vh, 1vh) * 100 - 7rem);
}
.container-nav[data-v-8419d038] {
  flex: 0 0 auto;
  width: 12rem;
}
.container-content[data-v-8419d038] {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container-router-view[data-v-8419d038] {
  max-width: 100%;
  overflow-y: scroll;
  flex: 1;
}
@media screen and (min-width: 600px) {
.container-content[data-v-8419d038]{
  max-width: calc(var(--vw, 1vw) * 100 - 12rem);
}
}
@media screen and (max-width: 600px) {
.container-content[data-v-8419d038]{
  max-width: calc(var(--vw, 1vw) * 100);
}
.container-nav[data-v-8419d038]{
    display: none;
}
}

.app,
.bg {
  background-color: var(--2e637a67);
}
.icon,
.n-icon {
  color: var(--2e637b5f);
}
.text1 {
  color: var(--2e637b7e);
}
.text2 {
  color: var(--2e637b40);
}
.text3 {
  color: var(--2e637b21);
}


/* 主题色 */
.color0 {
  color: var(--2e637a67);
}
.color1 {
  color: var(--2e637a86);
}
.color2 {
  color: var(--2e637aa5);
}
.color3 {
  color: var(--2e637ac4);
}
.color4 {
  color: var(--2e637ae3);
}
.color5 {
  color: var(--2e637b02);
}
.color6 {
  color: var(--2e637b21);
}
.color7 {
  color: var(--2e637b40);
}
.color8 {
  color: var(--2e637b5f);
}
.color9 {
  color: var(--2e637b7e);
}
