
span {
    margin: 0;
}
.header {
    padding: 0.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    margin-left: 2rem;
    display: flex;
}
.header-user {
    margin-right: 2rem;
    cursor: pointer;
}

.header-title[data-v-b14037af] {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    padding: 1rem;
}

.playinglist[data-v-956a7834] {
    height: 100%;
    width: 100%;
}
ul[data-v-956a7834] {
    list-style: none;
    padding: 0;
}
.playinglist-item[data-v-956a7834] {
    border: 0.1rem solid rgba(0, 0, 0, 0);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.233);
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
}
.playinglist-img[data-v-956a7834] {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    margin-right: 0.5rem;
}
.tns[data-v-956a7834] {
    color: #b3b3b3;
}
.artist[data-v-956a7834] {
    color: #8b8b8b;
}
.text[data-v-956a7834] {
    width: calc(100% - 3rem)
}
.name[data-v-956a7834],
.tns[data-v-956a7834],
.artist[data-v-956a7834] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

[data-v-b63e61c3] {
    box-sizing: border-box;
}
.ctrl-outer[data-v-b63e61c3] {
    position: fixed;
    z-index: 1;
    top: var(--756fa77a);
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    /* border: 1px solid grey; */
    box-shadow: 0 0 0.2rem grey;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);
    transition: all 0.5s ease-in-out;
}
.ctrl-box[data-v-b63e61c3] {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}
.ctrl-left[data-v-b63e61c3] {
    display: flex;
    width: calc(100% / 3.5);
    cursor: pointer;
}
.ctrl-img-box[data-v-b63e61c3] {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem grey;
    width: 5rem;
    /* 宽度等于父元素宽度 */
    height: 0;
    /* 初始高度为0 */
    padding-bottom: 5rem;
    /* 高度被撑开为宽度的100% */
    overflow: hidden;
    /* 隐藏溢出部分 */
}
.ctrl-img[data-v-b63e61c3] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctrl-info-box[data-v-b63e61c3] {
    padding-left: 1rem;
    width: 70%;
}
.ctrl-info-title[data-v-b63e61c3] {
    font-size: 1.3rem;
}

/* 
center--------------------------------------------------------
 */
.ctrl-center[data-v-b63e61c3] {
    padding-top: 0.8rem;
    width: calc(100% / 3.5);
}
.button[data-v-b63e61c3] {
    cursor: pointer;
}
.btn-control[data-v-b63e61c3] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-play-control[data-v-b63e61c3] {
    /* 上一曲 暂停 下一曲 按钮 */
    display: flex;
}

/* 
right---------------------------------------------------------
*/
.ctrl-right[data-v-b63e61c3] {
    width: calc(100% / 3.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*************************************************************
播放列表-------------------------------------------------------------------===================
************************************************/
.ctrl-playinglist[data-v-b63e61c3] {
    margin-top: 1rem;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - var(--5663d10e));
    flex: 1;
}

.container[data-v-583a6762] {
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  overflow: hidden;
}
.container-main[data-v-583a6762] {
  display: flex;
  height: calc(var(--vh, 1vh) * 100 - 7rem);
}
.container-nav[data-v-583a6762] {
  flex: 0 0 auto;
  width: 12rem;
}
.container-content[data-v-583a6762] {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container-router-view[data-v-583a6762] {
  overflow-y: scroll;
  flex: 1;
}

.app{
  background-color: var(--05c77b2c);
}
.icon,
.n-icon{
  color: var(--a7e7c0b8);
}
div{
  color: var(--a7e7c0b8);
}
