
[data-v-75e467d2] {
    box-sizing: border-box;
}
.item-card-outer[data-v-75e467d2] {
    margin: 0 1rem 2rem 1rem;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 0 0.2rem lightgray;
    background-color: var(--10af2a3e);
    border-radius: 1rem;
    overflow: hidden;
}
.item-card-img[data-v-75e467d2] {
    margin: 0;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
}
.item-card-name[data-v-75e467d2] {
    padding: 0.3rem;
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
}
.item-card-date-box[data-v-75e467d2] {
    position: relative;
    display: flex;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.item-card-date[data-v-75e467d2] {
    font-size: 4.5rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 7.2rem;
    transform: translateX(-50%) translateY(-50%);
    font-style: normal;
}
.item-card-icon[data-v-75e467d2] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.item-card-ul[data-v-e00dd55f] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
li[data-v-e00dd55f] {
    list-style: none;
}
ul[data-v-e00dd55f] {
    padding: 0;
}
