
[data-v-675c3624] {
    box-sizing: border-box;
}
.item-card-outer[data-v-675c3624] {
    margin: 0 1rem 2rem 1rem;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 0 0.2rem var(--226a5fa6);
    background-color: var(--226a5fa6);
    border-radius: 1rem;
    overflow: hidden;
}
.item-card-img[data-v-675c3624] {
    margin: 0;
    display: block;
    width: 100%;
}
.item-card-name[data-v-675c3624] {
    padding: 0.3rem;
    width: 100%;
    height: 3.5rem;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
.item-card-date-box[data-v-675c3624] {
    position: relative;
    display: flex;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgba(255,255,255,0.5);
}
.item-card-date[data-v-675c3624]{
    font-size: 4.5rem;
    font-weight: 700;
    position:absolute;
    left:50%;
    top:7.2rem;
    transform: translateX(-50%) translateY(-50%);
    font-style: normal;
}
.item-card-icon[data-v-675c3624]{
    position:absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}
