.outer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 1rem;
  transition: all 0.5s;
  border: 1px solid transparent;
}
.outer:hover {
  background: var(--740da42f);
  border: 1px solid var(--669e1f37);
}
.none-after-lock {
  display: var(--5b015345);
}
.ctrl {
  height: 2.2rem;
  color: var(--08f04c4a);
}
.ctrl-box {
  display: var(--7013beb6);
  justify-content: space-around;
}
.drag {
  cursor: move;
  -webkit-app-region: drag;
}
.lock {
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.5s;
}
.lock:hover {
  background-color: var(--d00c9dc0);
}
.lyric {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lyric :not(.lyric-word-top) {
  color: #eeeeee;
  /* -webkit-text-stroke: 1px v-bind('mainColors[7]'); */
  text-shadow: var(--5f16cbaa) 0 0 0.3rem, var(--5f16cbaa) 0 0 0.3rem, var(--5f16cbaa) 0 0 0.3rem, var(--5f16cbaa) 0 0 0.3rem;
}
.lyric-word-top {
  text-shadow: var(--5f16e4f9) 0 0 0.3rem, var(--5f16e119) 0 0 0.3rem, var(--5f16d959) 0 0 0.3rem, var(--5f16d579) 0 0 0.3rem;
}
.lyric-lrc {
  font-size: 3rem;
  font-weight: 500;
}
.lyric-sec {
  font-size: 2rem;
  font-weight: 400;
}
.text3 {
  color: var(--08f04d80);
}
