
.outer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 1rem;
    transition: all 0.5s;
}
.outer:hover {
    background: var(--dfc2322e);
    border: 1px solid var(--b4aaa0c6);
}
.ctrl {
    display: flex;
    justify-content: space-around;
    color: var(--b4aaa0c6);
}
.drag {
    cursor: move;
    -webkit-app-region: drag;
}
.lyric {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    user-select: none;
    color: var(--b4aaa278);
    text-shadow:
        var(--b4aaa142) 0 0 0.3rem,
        var(--b4aaa142) 0 0 0.3rem,
        var(--b4aaa142) 0 0 0.3rem,
        var(--b4aaa142) 0 0 0.3rem;
}
.lyric-lrc {
    font-size: 3rem;
    font-weight: bolder;
}
.lyric-sec {
    font-size: 2rem;
    font-weight: bold;
}
