.outer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 1rem;
  transition: all 0.5s;
  border: 1px solid transparent;
}
.outer:hover {
  background: var(--25f0238c);
  border: 1px solid var(--2fdf88e8);
}
.none-after-lock {
  display: var(--a94f0f4c);
}
.ctrl {
  height: 2.2rem;
  color: var(--0fee57b0);
}
.ctrl-box {
  display: var(--0735f28b);
  justify-content: space-around;
}
.drag {
  cursor: move;
  -webkit-app-region: drag;
}
.lock {
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.5s;
}
.lock:hover {
  background-color: var(--6258362b);
}
.lyric {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lyric :not(.lyric-word-top) {
  color: #eeeeee;
  /* -webkit-text-stroke: 1px v-bind('mainColors[7]'); */
  text-shadow: var(--bd104d66) 0 0 0.3rem, var(--bd104d66) 0 0 0.3rem, var(--bd104d66) 0 0 0.3rem, var(--bd104d66) 0 0 0.3rem;
}
.lyric-word-top {
  text-shadow: var(--bd0f1212) 0 0 0.3rem, var(--bd0f1212) 0 0 0.3rem, var(--bd0f1212) 0 0 0.3rem, var(--bd0f1212) 0 0 0.3rem;
}
.lyric-lrc {
  font-size: 3rem;
  font-weight: 500;
}
.lyric-sec {
  font-size: 2rem;
  font-weight: 400;
}
.text3 {
  color: var(--0fee5715);
}
