.outer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 1rem;
  transition: all 0.5s;
  border: 1px solid transparent;
}
.outer:hover {
  background: var(--19d7edc9);
  border: 1px solid var(--3f1c0edd);
}
.none-after-lock {
  display: var(--1f1efd6b);
}
.ctrl {
  height: 2.2rem;
  color: var(--2674c2fe);
}
.ctrl-box {
  display: var(--b9211148);
  justify-content: space-around;
}
.drag {
  cursor: move;
  -webkit-app-region: drag;
}
.lock {
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.5s;
}
.lock:hover {
  background-color: var(--0c67968c);
}
.lyric {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* -webkit-text-stroke: 1px v-bind('mainColors[7]'); */
}
.lyric :not(.lyric-word-top) {
  color: white;
  --color: var(--7cd09c5a);
  text-shadow: 1px 1px var(--color), -1px -1px var(--color), -1px 1px var(--color), 1px -1px var(--color), 2px 2px 0.5px var(--2674c3f6);
}
.lyric-word-top {
  color: var(--2674c434);
}
.lyric-lrc {
  font-size: 3rem;
  font-weight: 500;
}
.lyric-sec {
  font-size: 2rem;
  font-weight: 400;
}
