
.head-num[data-v-70a4746c],
.item-num[data-v-70a4746c] {
    width: 2rem;
}
.head-music[data-v-70a4746c],
.item-music[data-v-70a4746c] {
    flex: 2;
    width: 60%;
}
.item-music-name[data-v-70a4746c],
.item-music-ar[data-v-70a4746c],
.item-music-text[data-v-70a4746c] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.head-action[data-v-70a4746c],
.item-action[data-v-70a4746c] {
    width: 1.5rem;
}
.head-album[data-v-70a4746c],
.item-album[data-v-70a4746c] {
    flex: 1;
    padding-left: 1rem;
}
.list-head-card[data-v-70a4746c] {
    border: none;
    padding: 0;
}
.list-head-div[data-v-70a4746c],
.list-item-div[data-v-70a4746c] {
    margin: 0.5rem;
    margin-bottom: 0;
}
.list-item-card-content[data-v-70a4746c],
.list-head-card-content[data-v-70a4746c] {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item-music-detail[data-v-70a4746c] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:calc(100% - 6rem);
}
.item-music[data-v-70a4746c] {
    display: flex;
    cursor: pointer;
}
.item-music-img[data-v-70a4746c] {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
}
.like-button[data-v-70a4746c] {
    cursor: pointer;
}
@media (max-width: 700px) {
.item-album[data-v-70a4746c],
    .head-album[data-v-70a4746c]{
        display: none;
}
}
