
[data-v-b10dfa72] {
  box-sizing: border-box;
}
#playerOuter[data-v-b10dfa72] {
  position: fixed;
  /* 覆盖下层元素 */
  z-index: 10;

  left: 0;
  top: 0;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);

  display: flex;

  /* 配合下面content的最大宽度 实现居中 */
  justify-content: center;
  /* 背景渐变 */
  background-image: var(--62d0763d);
}
#playerContent[data-v-b10dfa72] {
  display: flex;
  height: 100%;
  min-width: 400px;
  width: 100%;
  max-width: calc(100vh/9*16);
}
#playerBackground[data-v-b10dfa72] {
  /* 半透明遮罩 */
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--105eedb4);
}

/************************歌词部分**********************************************************************/
.lyric-lrc[data-v-b10dfa72] {
  /* 歌词原文 */
  color: rgba(68, 68, 68, 0.8);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.lyric-roma[data-v-b10dfa72] {
  /* 歌词罗马音 */
  color: rgba(87, 87, 87, 0.8);
  font-size: 1.2rem;
}
.lyric-tran[data-v-b10dfa72] {
  /* 歌词翻译 */
  color: rgba(87, 87, 87, 0.8);
  font-size: 1.4rem;
}
.lyric-active[data-v-b10dfa72] {
  /* 当前歌词 */
  font-weight: 500;
}
.lyric-active .lyric-lrc[data-v-b10dfa72] {
  /* 当前歌词原文 */
  color: black;
  font-size: 1.6rem;
}
.lyric-active .lyric-roma[data-v-b10dfa72] {
  /* 当前歌词罗马音 */
  color: rgb(50, 50, 50);
  font-size: 1.3rem;
}
.lyric-active .lyric-tran[data-v-b10dfa72] {
  /* 当前歌词翻译 */
  color: rgb(45, 45, 45);
  font-size: 1.5rem;
}
#column-lyric[data-v-b10dfa72] {
  position: relative;
  display: flex;
  flex: 50%;
  height: 100%;
  padding: 2em 0 2em 1em;
}
#container-lyric[data-v-b10dfa72] {
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
}
.lyric-list[data-v-b10dfa72] {
  padding-top: 50%;
  padding-bottom: 50%;
}

/********************************播放控件**********************************************************/
#column-player[data-v-b10dfa72] {
  display: flex;
  flex: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  position: relative;
}
#music-name[data-v-b10dfa72] {
  font-size: 2rem;
}
.button[data-v-b10dfa72] {
  cursor: pointer;
}
#btn-control[data-v-b10dfa72] {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#btn-play-control[data-v-b10dfa72] {
  /* 上一曲 暂停 下一曲 按钮 */
  display: flex;
}
#container-player[data-v-b10dfa72] {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
#player-centerblock[data-v-b10dfa72] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#music-img-container[data-v-b10dfa72] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 1rem;
  width: 80%;
  /* 宽度等于父元素宽度 */
  height: 0;
  /* 初始高度为0 */
  padding-bottom: 80%;
  /* 高度被撑开为宽度的100% */
  overflow: hidden;
  /* 隐藏溢出部分 */
}
#music-img[data-v-b10dfa72] {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#music-progress[data-v-b10dfa72] {
  width: 90%;
}
ul[data-v-b10dfa72] {
  list-style: none;
}
.player-playinglist-box[data-v-b10dfa72] {
  position: fixed;
  left: 0;
  top: var(--f8097550);
  height: 100%;
  width: 100%;
  background: none;
  z-index: 11;
  transition: all 0.7s ease-in-out;
}
.player-playinglist[data-v-b10dfa72] {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 80%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  border-radius: 0.8rem;
  overflow: hidden;
}
@media (max-width: 500px) {

  /* 0-500px 竖屏设备 */
#column-lyric[data-v-b10dfa72] {
    display: none;
}
#column-player[data-v-b10dfa72] {
    flex: 100%;
}
}
