
.playlistTag[data-v-448d9449] {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.playlistDetail[data-v-448d9449] {
    display: flex;
    width: 100%;
}
.playlistImg[data-v-448d9449] {
    margin: 1rem;
    flex: 1;
}
.playlistImg img[data-v-448d9449] {
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.playlistInfo[data-v-448d9449] {
    display: flex;
    /* width:calc(var(--vw,1vw)*100 - 12rem); */
    flex: 1;
    flex-direction: column;
    position: relative;
}
.playlistAuthor[data-v-448d9449] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
}
.playlistTagContainer[data-v-448d9449] {
    display: flex;
    flex-wrap: wrap;
}
.playlistAuthorName[data-v-448d9449] {
    margin-left: 0.5rem;
}
.playlistAuthorAvatar[data-v-448d9449] {
    width: 2rem;
    border-radius: 1rem;
    height: auto;
}
.playlistName[data-v-448d9449] {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 500;
}
.playlist-info-item[data-v-448d9449] {
    max-width: 100%;
    /* display: none; */
}
.playlist-musiclist[data-v-448d9449] {
    max-width: 100%;
}
@media (min-width:620px) {
.playlistImg[data-v-448d9449] {
        flex: none;
        width: 10rem;
        height: 10rem;
}
}
